<section id="main" style="background-image:url(<%= asset_path('2395337.jpg') %>)">
  <div class="container d-flex align-items-center">
    <div class="box-landing">
      <h1 class="display-2 p-5 text-warning"><em>Adventurous</em></h1>
      <p class="display-4 px-5 text-muted">Somos la mejor ayuda para que organices tu viaje</p>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>
